header {
    background-color: #ffffff;
    border-bottom: 3px solid #cccccc;
    text-align: center;
    display: flex;
    width: 100%;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow: auto;
    width: 50%;
}

nav a {
    color: #666666;
    
}

.navElement {
    display: flex;
    padding-right: 5%;
    padding-left: 5%;
    height: 25px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    text-decoration: none;
}

.navElementBorder {
   border-right: 1px solid #cccccc;
}


/* Why is the toolbar showing larger than the contnet? */
.toolbar {
    display: flex;
    justify-content: space-between;
    width: 79%;
    flex-direction: row;
    white-space: nowrap;
    margin: 0 auto;
}

#myName {
    display: inline;
    display: flex;
    background-color: #4aaaa5;
    padding: 2%;
    color: #ffffff;
    text-align: left;
    align-content: flex-end;  
    margin-top: 0px;
    margin-bottom: 0px;
}

/* is this needed? 
html, body {
    margin: 0px;
    padding: 0px;
}
*/


/* need to update these things */
.background {
    background-image: url(../images/cross_scratches.png);
    min-height: 100vh;
    overflow: hidden;
    display: block;
    position: relative;
}


h1, h2 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

p {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.mainContent {
    width: 75%;
    border: 1px solid #CCCCCC;
    background-color: #ffffff;
    padding: 2%;
    overflow: auto;
    margin: 0 auto;
}

img {
    float: left;
    width: 200px;
    padding-right: 9px;
}

h2 {
    border-bottom: 3px solid #CCCCCC;
    color: #4aaaa5;
    padding-bottom: 1em;
}

.mainContainer {
    min-height: 100vh;
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 50px;
}

/* still need to make the footer sticky to the bottom of the page */
footer {
    width: 100%;
    background-color: #666666;
    text-align: center;
    color: #CCCCCC;
    font-size: 12px;
    border-top: 4px solid #4aaaa5;
    padding-top: 2px; /* had em here, but changed to px */
    padding-bottom: .5px;
    position: absolute;

    
}

